.idea
*.pyc
*.sqlite3
*.sqlite

env/*
venv/*
local_settings.py
.env*
build/*
dist/*
textile_planning.log
results.db
request*.json
result*.json
activity_*.txt
dist_*.zip
/build/
/bad_json/
/dist/
/env/
/json_results/
/.pytest_cache/
/tests/json_results/
/pyinstaller_hooks/
*Результаты.json
*Результаты.xlsx

